body {

    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    display: flex; 
    margin: 10px;
}

.title {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.delivery-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
    height: 220px;
    margin: 10px;
}

.click-text {
    font-size: 12px;
    font-weight: bold;
    color: red;
}

.card-img-top {
    width: 80px;
    height: auto;
    margin: 10px auto;
}

.brand-text {
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #d32f2f;
}
.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}