.body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.footer {
    background-color: #3D3D3D;
    color: white;
    margin-top: 100px;
    text-align: left;
}
.newsletter {
margin-bottom: 20px;
}
.newsletter input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    text-align: left;
}
.newsletter button {
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
}
.social-icons img {
    width: 30px;
    margin: 5px;
}
.links a {
    color: white;
    text-decoration: none;
    margin: 5px;
}